name: Publish

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tagged version to release.'
        required: true
        type: 'string'

jobs:
  publish:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: './'

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.tag }}
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: |
          IFS='@' read -a strarr <<< $(git describe --tags)
          sed  -i "s/\"version\": .*/\"version\": \"${strarr[1]}$(echo $([ ${strarr[0]} == "production" ] && echo "" || echo "-${strarr[0]}"))\",/" package.json
          npm run build
          npm publish --tag $(echo $([ ${strarr[0]} == "production" ] && echo "latest" || echo ${strarr[0]})) --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          # https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages#publishing-packages-to-the-npm-registry
